.btn {
    width: 25%;
    height: 100%;
    font-size: 3rem;
    font-family: inherit;
    background-color: #0d0d0d;
    color: white;
    border: 1px solid azure ;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.btn:hover {
    color: #eeeeee;
    background-color: #2fa6ff;
}

.btn:active {
    transform: scale(.95);
}
.btn-special{
    background-color: #222222;
    color: white;
}
.btn-special:hover {
    color: black;
    background-color: #eeeeee;
}

.btn-special:active {
    transform: scale(.95);
}

.btn-operator{
    background-color:#f5bb07;
    color: black;
}
.btn-operator:hover {
    color: black;
    background-color: #f56507;
}
.btn-operator:active {
    transform: scale(.95);
}